<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <!-- component -->
    <section class="absolute w-full top-0">
        <div class="absolute top-0 w-full h-full bg-gray-900"
            style="background-image: url(&quot;https://demos.creative-tim.com/tailwindcss-starter-project/static/media/register_bg_2.2fee0b50.png&quot;); background-size: 100%; background-repeat: no-repeat;">
        </div>
        
        
        <div class="container mx-auto px-4 h-full">
        <h1> style="color:#000000">LOGIN</h1>
        
            <div class="flex content-center items-center justify-center h-full">
                <div class="w-full lg:w-4/12 px-4 pt-32">
                    <div
                        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0">
                        <div class="rounded-t mb-0 px-6 py-6">
                            
                            <hr class="mt-6 border-b-1 border-gray-400">
                        </div>
                        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                        
                            <form method="post" action="{{ url_for('query') }}">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Username</i>
                </div>
                <input id="username" placeholder="Username" type="text" name="username" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">Password</i>
                </div>
                <input id="password" placeholder="Password" type="password" name="password" required class="validate" autocomplete="off">
            </div>

            <br>
            <br>

            <input type="submit" class="btn btn-primary" value="Log In" />
            
            <br>
               <br>
               {{ warning }}
        </form>
        
                        </div>
                    </div>
                    <div class="flex flex-wrap mt-6">
                        <div class="w-1/2"><a href="#pablo" class="text-gray-300"><small>Forgot password?</small></a>
                        </div>
                        <div class="w-1/2 text-right"><a href="#pablo" class="text-gray-300"><small>Create new
                                    account</small></a></div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</body>

</html>